body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #686666;
}

.container {
    width: 80%;
    max-width: 900px;
    background: #090909;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(22, 22, 22, 0.1);
    padding-top: 30px;
    margin: 40px auto; /* توسيط الحاوية داخل الجسم */
    text-align: center; /* توسيط النص داخل الحاوية */
}

header {
    background: #00a2ff;
    color: #141414;
    padding: 40px 20px 30px 20px;
    text-align:center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #070707;
    display: block;
    margin: 20px auto 15px auto;
}

.section {
    padding: 20px;
    border-bottom: 1px solid #fefbfb;
}

.section:last-child {
    border-bottom: none;
}

.section h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.skills, .education {
    list-style-type: none;
    padding: 0;
}

.skills li, .education li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.contact {
    padding: 20px;
}
/* تنسيق نصوص الوصف والتقنيات */
.project-item p {
    color: #ffffff; /* تم تغيير اللون إلى الأبيض ليصبح واضحاً */
    line-height: 1.6;
    margin: 5px 0;
}

/* إذا كنت تستخدم القوائم العادية وتريد تغيير لون عناصرها */
.project-item li {
    color: #ffffff; /* لون أبيض لعناصر القائمة */
}